# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.

# Enable aliases to be sudo'ed
alias sudo='sudo '

# Record the desktop
alias record='ffmpeg -f x11grab -r 25 -s 1920x1080 -i :0.0+0,24 -vcodec libx264 -preset ultrafast -crf 0 video.mkv'

# Give diff some color
alias diff='cwdiff'

# And grep....
alias grep='grep --color=auto'

# And make.....
alias make='colormake-short -j4'

# And cargo......
alias cargo='cargo --color'

# And cat..........
alias cat='pygmentize -g'

# And gcc ...........
#alias gcc='colorgcc'

# And pacaur...............
alias pacaur='pacaur --color=always'

# Export LS_OPTIONS for inheritance
export LS_OPTIONS=(-kNphxC --color=auto --group-directories-first -w $(tput cols))
alias ls='ls $LS_OPTIONS'
# List almost everything in columns
alias ll='ls -AC'
# List almost everything with filesizes, times, and so on
alias la='ls -Alto'

# Faster ping
alias ping='netselect -vv -t 25'

# List recently installed packages
alias lspkgs='pkgInstallDateLister'

# Suspend to both RAM and Swap by default
alias suspend='sudo s2both'

# Make me a password
alias mkpasswd='xkcdpass -i'

# Make a license
alias mklicense='license'

# Reload z shell
alias reload='zplug status; sleep 2; zplug update; sleep 0.75; zplug clean; sleep 0.5; zplug clear; sleep 0.25; reset;'

# Use terminal-slack for communicating on slack
alias slack='node $HOME/.pkgs_not_in_repo/terminal-slack/main.js'

# Netflix desktop client based on Electron
alias simpleflix='cd $HOME/.pkgs_not_in_repo/simpleflix/ && setsid npm start main.js >/dev/null 2>&1 < /dev/null &'

# Beets music organizer has a plural command too!
alias beets='beet'

# Avoid stupidity with trash-cli:
# 	https://github.com/sindresorhus/trash-cli
# or use default rm -i
rm(){
  if type trash &>/dev/null; then
	  alias rm='trash'
  else
	  alias rm='rm -i'
  fi
}

# Select a slack token
slack-tokens(){
  if [ $1 = 'gsoc' ]; then
    source $HOME/.slack-tokens/select-psu-gsoc
  else
    echo 'You need to pass an argument for which slack organization you want.'
  fi
}

# Make parents and grandparents, make a whole lineage if needed
alias mkdir='mkdir -pv'

# Make directory and travel to it
mkcd(){ 
  mkdir '$@' && echo 'and entered the newest child directory' && cd '$@'; 
}

# Update submodules yadm
alias yadmSubmoduleUpdate='yadm submodule foreach git pull origin master && yadm submodule foreach update'

# Remove true orphans
alias rm-true-orhpans='pacaur -Rsn $(sudo -u deleuze pacaur -Qtdq)'

# Glyphr desktop
alias glyphr='~/.scripts/submodules/Glyphr-Studio-Desktop/build/Glyphr\ Studio-linux-x64/Glyphr\ Studio'

# Do not use top
alias top='htop'

# Extract things the easy way with recursion as default
alias dtrx='dtrx -r'

# Vim is NeoVim
alias vim='nvim'

# Enable tombs for pass
alias pass='PASSWORD_STORE_ENABLE_EXTENSIONS=true pass'

# Hardcode tray icons by changing them with Inkscape
alias mktrayicons='hardcode-tray --size 16 --theme Papirus --conversion-tool ImageMagick --apply'

# Light-locker-command aliases
#
# Lock the screen
alias lock='light-locker-command -l'

# Mount MTP
alias mtp='jmtpfs -o auto_unmount ~/.mtp'

# Unmount MTP
alias umtp='fusermount -u ~/.mtp'

# Alias run-help to help for zsh
alias help='run-help'

# Inhibit the screensaver for awhile (only works when urxvt window kept open)
alias caffeine='light-locker-command -i &'

# Stop inhibiting the screensaver
alias melatonin='pkill -USR1 '^light-locker-command$''

# Add common ASCII emojis/emoticons from MichaelAquilina/zsh-emojis
alias confused_em='echo "¯\_(⊙︿⊙)_/¯"'
alias crying_em='echo "ಥ_ಥ"'
alias bear_em='echo "ʕ•ᴥ•ʔ"'
alias cute_emo='echo "(｡◕‿◕｡)"'
alias excited_em='echo "☜(⌒▽⌒)☞"'
alias fisticuffs_em='echo "ლ(｀ー´ლ)"'
alias fliptable_em='echo "(╯°□°）╯︵  ┻━┻"'
alias happy_em='echo "ヽ(´▽`)/"'
alias innocent_em='echo "ʘ‿ʘ"'
alias kirby_em='echo "⊂(◉‿◉)つ"'
alias lennyface_em='echo "( ͡° ͜ʖ ͡°)"'
alias muscleflex_em='echo "ᕙ(⇀‸↼‶)ᕗ"'
alias shrug_em='echo "¯\_(ツ)_/¯"'
