# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.

# Enable aliases to be sudo'ed
alias sudo='sudo '

# Make yay always use the editmenu option
alias yay='yay --batchinstall --timeupdate --devel --editmenu --nodiffmenu --save --makepkg $HOME/.bin/customize-makepkg'

# Record the desktop
alias record='ffmpeg -f x11grab -r 25 -s 1920x1080 -i :0.0+0,24 -vcodec libx264 -preset ultrafast -crf 0 video.mkv'

# Give diff some color
alias diff='cwdiff'

# And grep....
#alias grep='sift'

# And cargo......
alias cargo='cargo --color auto'

# Alas go to gcc-go
alias go='gccgo'

# And cat..........
alias cat='pygmentize -g'

# Fuck alias
alias fuck='sudo !!'

# Alias ls to exa
alias ls='exa --color=always --group-directories-first --across'

# List almost everything in columns
alias ll='exa --color=always --group-directories-first --all --across'

# List almost everything with filesizes, times, and so on
alias la='exa --color=always --group-directories-first --all --long'

# List recursively
alias lr='exa --color=always --group-directories-first --tree'

# List directories in current directory
alias lsd='exa --color=always -d */'

# List packages by size
alias lspkgs-size='expac -H M "%011m\t%-20n\t%10d" $(comm -23 <(pacman -Qqe | sort) <(pacman -Qqg base base-devel | sort)) | sort -n'

# List packages alphabetically
alias lspkgs='comm -23 <(pacman -Qqe | sort) <(pacman -Qqg base base-devel | sort) | sort -n'

# List packages by install date
alias lspkgs-date='expac --timefmt="%F %T" "%l %w %n" | grep explicit | cut --delimiter=" " -f 1-2,4- | sort -n'

# List packages that are optional dependencies and not explicitly installed
alias lspkgs-opt='comm -13 <(pacman -Qdtq | sort) <(pacman -Qdttq | sort)'

# Tetris
alias tetris='yetris'

# Multiplayer tron
alias tron='ssh sshtron.zachlatta.com'

# Look like a hacker
alias hack='hexdump -C /dev/urandom | grep 'ca fe' '

# Suspend to both RAM and Swap by default
alias suspend='sudo s2both'

# Next background
alias nxtbackground='feh --randomize --bg-fill /usr/share/wallpapers/chromecast1200/*'

# Make the parents too, if they do not exist
alias mkdir='mkdir -p'

# Make me a password
alias mkpasswd='xkcdpass -i'

# Make a license
alias mklicense='license'

# VPN
alias vpn='bash $HOME/.bin/vpngate/run cli'

# Mount google drive
alias mountgd='sudo gdfs -o allow_other /home/deleuze/.config/gdfs.creds /mnt/GoogleDrive'

# Unmount google drive
alias umountgd='sudo umount /mnt/GoogleDrive'

# Use terminal-slack for communicating on slack
alias slack='node $HOME/.pkgs_not_in_repo/terminal-slack/main.js'

# Beets music organizer has a plural command too!
alias beets='beet'

# Make a single portrait PDF into a two page on Landscape paper PDF
alias pdfmklandscape='pdfnup --nup 2x1 --suffix 2up --landscape --outfile .'

# Optimize PDF
alias pdfoptimize='gs -sDEVICE=pdfwrite -dCompatibilityLevel=1.4 -dPDFSETTINGS=/screen -dNOPAUSE -dQUIET -dBATCH -sOutputFile=$2 $2'

# Avoid stupidity with trash-cli:
# 	https://github.com/sindresorhus/trash-cli
# or use default rm -i
rm(){
  if type trash &>/dev/null; then
	  alias rm='trash'
  else
	  alias rm='rm -i'
  fi
}

# Make room on root partition
alias bleachbit-clean-root='sudo bleachbit --clean system.cache system.localizations system.trash system.tmp'

# Select a slack token
slack-tokens(){
  if [ $1 = 'gsoc' ]; then
    source $HOME/.slack-tokens/select-psu-gsoc
  elif [ $1 = 'quest' ]; then
    source $HOME/.slack-tokens/select-the-quest
  else
    echo 'You need to pass an argument for which slack organization you want.'
  fi
}

# Google Calendar CLI
alias gcalcli='gcalcli --includeRc'

# Neovim
# Do not use swap files
alias vim='nvim -n'
alias vi='nvim -n'

# Make parents and grandparents, make a whole lineage if needed
alias mkdir='mkdir -pv'

# Make directory and travel to it
mkcd(){ 
  mkdir '$@' && echo 'and entered the newest child directory' && cd '$@'; 
}

# Update submodules yadm
alias yadmSubmoduleUpdate='yadm submodule foreach git pull origin master && yadm submodule foreach update'

# Make Arch wallpaper
mkmemepaper(){
  DIR=$PWD
  FILE=$1
  FILENAME="${FILE##*/}"
  echo $FILENAME
  PREFIX="arch_btw_"
  NEWFILE=$PREFIX$FILENAME
  echo $NEWFILE
  ( cd $HOME/.bin/arch-pape-maker/ && bash mepapemaker.sh $FILE && mv $NEWFILE $DIR )
}

# Remove true orphans
alias rm-true-orphans='yay -Rnscu $(sudo -u deleuze yay -Qtdq)'

# Optimize g++ compile
alias g++='g++ -march=haswell'

# Alias gzip to pigz
alias gzip='pigz'

# Glyphr desktop
alias glyphr='~/.scripts/submodules/Glyphr-Studio-Desktop/build/Glyphr\ Studio-linux-x64/Glyphr\ Studio'

# Do not use top
alias top='htop'

# Extract things the easy way with recursion as default
alias dtrx='dtrx -r'

# Enable tombs for pass
alias pass='PASSWORD_STORE_ENABLE_EXTENSIONS=true pass'

# Hardcode tray icons by changing them with Inkscape
alias mktrayicons='hardcode-tray --size 16 --theme Papirus --conversion-tool ImageMagick --apply'

# No less beep
alias less='less -Q'

# No man page beep
alias man='man -P "less -Q"'

# Mount MTP
alias mountp='jmtpfs /tmp/myphone'

# Unmount MTP
alias umountp='fusermount -u /tmp/myphone'

# Alias run-help to help for zsh
alias help='run-help'

# Add common ASCII emojis/emoticons from MichaelAquilina/zsh-emojis
alias confused_em='echo "¯\_(⊙︿⊙)_/¯"'
alias crying_em='echo "ಥ_ಥ"'
alias bear_em='echo "ʕ•ᴥ•ʔ"'
alias cute_emo='echo "(｡◕‿◕｡)"'
alias excited_em='echo "☜(⌒▽⌒)☞"'
alias fisticuffs_em='echo "ლ(｀ー´ლ)"'
alias fliptable_em='echo "(╯°□°）╯︵  ┻━┻"'
alias happy_em='echo "ヽ(´▽`)/"'
alias innocent_em='echo "ʘ‿ʘ"'
alias kirby_em='echo "⊂(◉‿◉)つ"'
alias lennyface_em='echo "( ͡° ͜ʖ ͡°)"'
alias muscleflex_em='echo "ᕙ(⇀‸↼‶)ᕗ"'
alias shrug_em='echo "¯\_(ツ)_/¯"'
