[submodule ".pkgs_not_in_repo/simpleflix"]
	path = .pkgs_not_in_repo/simpleflix
	url = git@github.com:UnSimpleGeek/Simpleflix.git
[submodule ".pkgs_not_in_repo/terminal-slack"]
	path = .pkgs_not_in_repo/terminal-slack
	url = git@github.com:evanyeung/terminal-slack.git
[submodule ".pkgs_not_in_repo/sandman-lite"]
	path = .pkgs_not_in_repo/sandman-lite
	url = git@github.com:alexanderepstein/Sandman-Lite.git
[submodule ".pkgs_not_in_repo/pactoys"]
	path = .pkgs_not_in_repo/pactoys
	url = https://github.com/renatosilva/pactoys
[submodule ".bin/gitlab-convert-ssh-https"]
	path = .bin/gitlab-convert-ssh-https
	url = https://gist.github.com/gatlinnewhouse/f0d8a60bfc7b8fb003a522a96e80a756
