[Desktop Entry]
Version=1.0
Name=All Classical Portland
Comment=Celluloid playing the All Classical Portland stream
Exec=celluloid "https://allclassical-ice.streamguys.com/ac96kmp3" %U
Icon=celluloid
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;AudioVideo;
X-KDE-Protocols=https
