[Desktop Entry]
Version=1.0
Name=lofi hip hop radio - beats to relax/study to
Comment=Celluloid playing the livestream by ChilledCow on YouTube
Exec=celluloid "https://youtu.be/hHW1oY26kxQ" %U
Icon=celluloid
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;AudioVideo;
X-KDE-Protocols=https
